@media screen and (max-width: 988px) {
  .footer-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-logo {
    margin: 0;
  }
  .footer-social ul {
    display: flex;
    justify-content: center;
  }
  .footer-links ul {
    margin-top: 16px;
    display: flex;
    padding: 0;
    gap: 10px;
    width: 100%;
  }
}

@media screen and (max-width: 668px) {
  .footer-logo img {
    width: 200px;
    height: 200px;
  }
  .footer-logo {
    margin-bottom: 50px;
  }
  .footer-links ul {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 10px;
    width: 100%;
  }
  #experience {
    text-align: center;
    justify-content: center;
  }
}

@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  .arrow {
    display: none;
  }
  .icon {
    font-size: xx-large;
  }
  #contact {
    margin-top: 90px;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #contact {
    margin-top: 90px;
  }

  #projects{
    margin-top: 100px;
  } 
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section_pic-container {
    width: 385px;
    height: 400px;
    margin:0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #about {
    margin-top: 120px;
  }
  .icon {
    font-size: xx-large;
  }
  .footer-logo {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 600px) {
    #contact,
    footer {
        height: 40vh;
    }
    .footer-hr {
      display: none;
    }
    .footer-bottomP {
      font-size: small;
    }
    #profile {
        height: 83vh;
        margin-bottom: 0;
    }
    article {
        font-size: 1rem;
    }
    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }
    .about-containers,
    .contact-info-upper-container,
    .btn-container {
        flex-wrap: wrap;
    }
    .contact-info-container {
        margin: 0;
    }
    .footer-logo {
        margin-bottom: 50px;
      }
    .arrow {
        display: none;
      }
    .contact-info-container p,
    .nav-links li a {
        font-size: 1rem;
    }
    .experience-sub-title {
        font-size: 1.25rem;
    }
    .logo {
        font-size: 1.5rem;
    }
    .nav-links {
        flex-direction: column;
        gap:0.5rem;
        text-align: center;
    }
    .section_pic-container {
        width: auto;
        height: 56vh;
        justify-content: center;
    }
    .section_text_p2 {
        font-size: 1.25rem;
    }
    .text-container {
        text-align: justify;
    }
    .about-containers {
        flex-wrap: wrap;
      }
    .pic2 img {
        height: 95%;
        width: 95%;
      }
      .pic1 img {
        height: 88%;
        width: 98%;
      }
      .title-name {
        font-size: xx-large;
      }
      #about {
        margin-top: 90px;
      }
      .about-containers {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "grid1"
        "grid2"
      }
      .icon {
        font-size: xx-large;
      }
      .contact-icon {
        font-size: large;
      }
}
@media (width >= 1200px) {
  #projects{
    margin-top: 450px;
  }
  #contact {
    padding-top: 450px;
    padding-bottom: 220px;
}

}
@media (width >= 1400px) {
    #contact {
        margin-top: 450px;
    }
    #projects{
      margin-top: 450px;
    } 
}
@media (width >= 2300px) {
    #contact {
        margin-top: 350px;
    }
}
@media (width >= 200px) {
    #contact {
        margin-top: 350px;
    }
}